* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: grey;
    font-family: sans-serif;
}

#topRow {
    height: 200px;
}

table, tr, td {
    border: black solid 1px;
    border-collapse: collapse;
}

td {
    height: 50px;
    width: 50px;
    background-color: white;
    vertical-align: top;
}

.player {
    height: 30px;
    width: 30px;
    background-color: rgb(158, 218, 158);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    transition: linear 100ms;

}

.enemy {
    height: 30px;
    width: 100%;
    background-color: red;
    transition: linear 100ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.gate {
    height: 20px;
    width: 100%;
    background-color: rgba(140, 90, 156, 0.418);
    transition: linear 100ms;
    display: flex;
    justify-content: center;
    align-items: center;
}